#game number from url
game_number=0000000000000000

# API key
code=000000

# Team names
teams=("a" "b" "c" "d")
# Colors for the teams, same position as on the line above
# Color format is the same used for imagemagic
team_colors=("fff" "fff" "fff" "fff")

# Players ID-s with their respected team
players=(
[0]="a"
[1]="a"
[2]="b"
[3]="b"
[4]="c"
[5]="c"
[6]="d"
[7]="d"
)
